@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
    font-family: "Poppins", sans-serif !important;
}
a {
    text-decoration: none;
}
.font-200 {
    font-weight: 200 !important;
}
.font-300 {
    font-weight: 300 !important;
}
.font-400 {
    font-weight: 400 !important;
}
.font-500 {
    font-weight: 500 !important;
}
.font-600 {
    font-weight: 600 !important;
}
.font-700 {
    font-weight: 700 !important;
}
.font-800 {
    font-weight: 800 !important;
}
.font-900 {
    font-weight: 900 !important;
}
.form-transparent {
    width: 100%;
    background: transparent;
    border-bottom: 1px solid #e9e9e9;
    outline: none;
    padding: 8px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    color: #fff;
}
.form-transparent::placeholder {
    color: white;
    font-size: 14px;
}
.form-create label {
    font-size: 15px;
    color: #bec4ce;
    font-weight: 500;
}
.form-create .form-input-create {
    border: 0;
    background: #f6f7f9;
    width: 100%;
    margin-top: 3px;
    padding: 10px 15px;
    border-radius: 50px;
    color: #bec4ce;
    font-size: 15px;
    outline: none;
    font-weight: 500;
}
.form-create .form-input-create::placeholder {
    color: #bec4ce;
    font-size: 15px;
    font-weight: 500;
}
.inputfile-custom input[type="file"] {
    display: none;
}
.inputfile-custom .label-file-custom {
    background: #f6f7f9;
    display: flex;
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 4px;
    color: #a0a0a0;
    align-items: center;
    justify-content: space-around;
    font-size: 14px !important;
    font-weight: 500 !important;
}
.inputfile-custom .label-file-custom .fa {
    font-size: 20px;
    margin-right: 5px;
}
.nav-bottom-item,
.nav-bottom-item a {
    color: #c1c0c9;
}
.nav-bottom-item-active,
.nav-bottom-item-active a {
    color: #e96e00;
}
